html{
	overflow-y: scroll;
}

*{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#header{
    width: 1100px;
    margin: 0px auto 0px;
    font-family: 'Quicksand', sans-serif;
}

#header h1{
    padding: 100px 0px 0px 0px;
}

#header_wrapper{
    height: 150px;
    background-color: #5968D4;
}

#wrapper{
    height: 2000px;
    width: 1100px;
    margin: 0px auto 0px;
    padding: 20px;
    position: relative;
}

#navigation{
    float: left;    
    width: 160px;
    min-height: 360px;
    margin: 20px 0px 0px 0px;
    padding: 10px 10px 20px 10px;
    border: 1px solid;
    border-radius: 15px;
}

#content{
    float: right;
    width: 900px;
}

#submenu{
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    width: 880px;
    min-height: 200px;
    float: right;
}

#options{
    margin: 10px 0px 0px 0px;
}

ul{
    list-style-type: none;
}

li{
    margin: 15px 0px 0px 0px;
    padding: 5px 5px 5px 10px;
    color: white;
    background-color: black;
    border: 1px solid;
    border-radius: 5px;
}

#options li{
    width: 200px;
}

li:hover, tbody tr:hover{
    cursor: pointer;  
}

li:hover{
    color: black;
    background-color: white;
}
